h1{
    background-color: yellow;
    border: 2px solid black;
}
@media(width:400px){
    h1{
        background-color: red;
    }
    div{
        height: 100px;
        width: 100px;
        background-color: aquamarine;
    }
}

@media(min-width:400px){
h1{
    background-color:rgb(23, 161, 23);
}
}
@media(max-width:200px){
h1{
    background-color:violet;
}
}
@media(orientation: landscape){
    h1{
        background-color: magenta;
        color: brown;
    }
}