body {
    text-align: center;
}

.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}

.btn-cont {
    display: flex;
    justify-content: center;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}


.purple {
    background-color: purple;
}

.green {
    background-color: green;
}



.flash {
    background-color: white !important;
}

.userflash {
    background-color: aquamarine !important;
}