/* div{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
    /* elements par styling acc to block elements and they behave like inline elements */

/* }
#three{
    display: none;
} */ 
/* h1{
    width: 33.33%; 
    /* relation with parent */
    /* border: 2px solid black;
} */
/* #outer{
    height: 400px;
    width:400px;
    background-color: pink;
    margin:50px;
}
#inner{
    height: 100px;
    width: 100px;
    background-color: blue;
    margin-left: 10%;
} */ 

#outer{
    height: 400px;
    width: 400px ;
    border : 2px solid black;
    background-color: pink;
    font-size: 20px;
}

#inner{
    height:100px;
    width: 100px;
    background-color: cornflowerblue;
    font-size: 2em;
    /* size => double */
    /* em => relative to self/parent */
    padding: 1em;

}
button{
    font-size: 50px;
    border-radius: 15px;
    border: 5px solid green;
    padding-left: 1em;
    padding-right: 1em;
    
}
section{
    font-size: 15px;
}
div{
    font-size: 2rem;
    /* relation with root element */

}