.face {
    width: 400px;
    height: 400px;
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
}

#mouth {
    background-color: rgb(255, 77, 0);
    border-radius: 0 0 50px 50px;
    width: 200px;
    height: 75px;
    position: absolute;
   top: 250px;
   left: 100px;


}

.lefteye , .righteye{

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: relative;
    left: 100px;
    top: 100px;
}
.righteye{
    left: 200px;

}