/* div{
    width: 400px;
    height: 200px;
    background-color: violet;
    margin: 10px auto;
    background-image: url("land-o-lakes-inc-1w3tO5F8HYY-unsplash.jpg");
    background-size: contain;
    /* contain/cover/auto => stretch */
/* color: white;
} */
.card {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 4px 8px black;
    transition: 1s;
}

.desc {
    padding: 0 2px 0 2px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    /* percent with respect to parent ho jaaye width */
}

.card:hover {
    box-shadow: 0px 8px 16px green;
}