p{
    color: red;
    line-height: 30px;
    text-align: center;
    font-family: Georgia;
}
h1,h2,h3,h4{
    text-align: center;
     font-family: Georgia;
}
h3{
    color: #000;
}
span{
    text-decoration: underline;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: black;
}