div{
    background-color: beige;
    /* all properties inherit together */
}
/* form{
    background-color: red;
} */
input{
    background-color: inherit;
}
button{
    background-color: inherit;
}
button:hover{
    background-color: red;
}
